@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

.lp-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1507295386538-ddd5e86cd597?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1789&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 620px;
  margin: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;

  background-color: white;
  font-size: 20px;
}

button {
  font-size: 40px;
  cursor: pointer;
  font-family: "Hachi Maru Pop", cursive;
  border: 0;
  background-color: white;
  font-weight: 800;
  color: rgba(14, 20, 32, 0.71);
}

button:hover {
  background-color: rgba(240, 248, 255, 0.116);
  transition: 1.5s;
  color: rgba(253, 253, 0, 0.717);
}
